Ambientes Virtuais
venv/
.venv/
env/
.env/
ENV/

Arquivos de Cache do Python
pycache/
*.pyc
*.pyo
*.pyd

Arquivos de Configuração de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

Arquivos de Notebooks
.ipynb_checkpoints/

Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

Dados Sensíveis
.env
.env.
secrets.yaml

Datasets - NUNCA adicione dados brutos grandes ao Git
data/
*.csv
*.zip
*.jpg
*.png

Modelos Salvos - Modelos podem ser muito grandes
models/
*.h5
*.hdf5
*.pkl
*.joblib
*.pb